server:
  port: 28080

spring:
  datasource:
    url: jdbc:mysql://192.168.0.16:3306/seckill?serverTimezone=UTC&characterEncoding=utf8&allowPublicKeyRetrieval=true&useSSL=false
    username: seckill
    password: zxr@123456
    driver-class-name: com.mysql.cj.jdbc.Driver

  data:
    redis:
      host: localhost
      port: 6379

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.example.seckill_backend.model
